---

---

<div class="text-neutral-300">
    <h4 class="text-xs font-semibold uppercase dark:text-neutral-100">
        <slot name="heading" />
    </h4>

    <div class="mt-3 grid space-y-3 text-sm">
        <slot />
    </div>
</div>
